@model List<OiWeb.Entity.GroupModal>
@{
    ViewBag.Title = "GroupModalDetailsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    @RenderPage("~/Views/Shared/Breadcrumb.cshtml")

    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="chart-box">
                    <h4>
                        Grupos de Modais
                        <a href="#" class="btn btn-success btn-rounded">Criar novo Grupo</a>
                    </h4>
                    <hr/>
                    @RenderPage("~/Views/Shared/Practical/DataTablePartialGroupModalView.cshtml", Model)
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
    window.onload = function () {
        $("table").tablesort();
    };
</script>

