@model List<OiWeb.Entity.Modal>

@{
    Layout = null;
}

<table class="table table-responsive">
    <thead>
    <tr>
        <th class="sortable">ID</th>
        <th class="sortable">Nome</th>
        <th class="sortable">Descrição</th>
        <th class="sortable">Opções</th>
        
    </tr>
    </thead>
    @{
        foreach (var group in Model)
        {
            <tr>
                <td class="text-truncate">@Html.Raw(group.idModal)</td>
                <td class="text-truncate"><a href="#">@Html.Raw(group.name)</a></td>
                <td class="text-truncate">@Html.Raw(group.description)</td>
                <td class="text-truncate">

                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opções <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="/Modal/@(Html.Raw(group.idModal))/excluir">Excluir</a></li>
                            <li><a href="/Modal/@(Html.Raw(group.idModal))/alterar">Alterar</a></li>

                        </ul>
                    </div>

                </td>
            </tr>
        }
    }
</table>
