@model List<OiWeb.Entity.CMS_Account>

<div class="content-wrapper">
    @RenderPage("~/Views/Shared/Breadcrumb.cshtml")
   
    <section class="content container-fluid">        
        <div class="row">
            <div class="col-md-12">  
                <div class="chart-box">
                    <h4>Gerenciar Usuários
                        <a href="/Usuarios/Novo" class="btn btn-success btn-rounded">Criar novo Usuário</a>
                    </h4>
                    @RenderPage("~/Views/Shared/Practical/DataTablePartialUsersView.cshtml", Model)
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
    window.onload = function () {
        $("table").tablesort();
    };
</script>