<div class="content-wrapper">
    @RenderPage("~/Views/Shared/Breadcrumb.cshtml")   
    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
                  
        </div>
    </section>
    <!-- content -->
</div>
<script type="text/javascript" DEFER="DEFER">
    window.onload = function () {
        $('#popoverOption').popover({ trigger: "hover" });
        $('[data-toggle="popover"]').popover()

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    };
</script>